{% load static %}

<header class="main-header-container">
    <div class="header-screen">
        <a href="{% url "movies:home" %}">
            <img src="{% static "movies/images/cinesys.png" %}" alt="logo do site cinesys">
        </a>
    </div>
    <nav class="navbar">
        <ul class="links-list">
            <li class="link">1</li>
            <li class="link">2</li>
            <li class="link">2</li>
            <li class="link">3</li>
            <li class="link">4</li>
        </ul>
    </nav>
</header>