{% load static %}

<header class="main-header-container">
    <div class="header-logo">
        <a href="{% url "movies:home" %}">
            <img src="{% static "movies/images/cinesys.png" %}" alt="logo do site cinesys">
        </a>
    </div>
    <form action="" class="search-container">
        <input type="text" name="search" id="search" placeholder="Buscar Filme">
        <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
    <div class="user-container">
        <i class="fa-solid fa-circle-user"></i>
    </div>
</header>